@font-face {
  font-family: GreatVibes;
  src: url(../../assets/fonts/GreatVibes.ttf);
}
@font-face {
  font-family: FranklinGothicHeavy;
  src: url(../../assets/fonts/FranklinGothicHeavy.ttf);
}

:root {
  /* Fonts */
  --dmitrieshkinFF: GreatVibes;
  --LITHFF: FranklinGothicHeavy;
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --gray: #535559;
  --light-gray: #9397a3;
  --background: #1a1a1c;
  /* Sizes */
  --mini: 12px;
  --medium: 20px;
  --large: 24px;
  --mega: 32px;
  --hyper: 50px;
}

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
header,
footer {
  color: var(--white);
}

/* Signs settings */
#dmitrieshkin,
#lith {
  color: var(--white);
  font-size: var(--large);
  transition: all 0.5s ease;
}
#dmitrieshkin {
  font-family: var(--dmitrieshkinFF);
}
#lith {
  font-family: var(--LITHFF);
}
.list-element:hover a,
#dmitrieshkin:hover,
#lith:hover {
  color: var(--gray);
}

/* Custom styles */
.text-mini {
  font-size: var(--mini);
}
.text-medium {
  font-size: var(--medium);
}
.text-large {
  font-size: var(--large);
}
.text-mega {
  font-size: var(--mega);
}
.hyper-title {
  font-weight: bold;
  color: var(--white);
  font-size: var(--hyper);
}
.mega-title {
  font-weight: bold;
  color: var(--white);
  font-size: var(--mega);
}
.large-title {
  font-weight: bold;
  color: var(--white);
  font-size: var(--large);
}
.mega-text {
  color: var(--white);
  font-size: var(--mega);
}
.large-text {
  color: var(--white);
  font-size: var(--large);
}
body {
  background-color: var(--background);
}
header,
footer {
  padding: 10px 3%;
}
footer {
  background-color: var(--black);
}
.custom-button {
  background-color: var(--white);
  color: var(--gray);
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.5s ease;
  width: max-content;
}
.custom-button:hover {
  background-color: var(--gray);
  color: var(--white);
}
.footer-button {
  background-color: var(--light-gray);
  color: var(--black);
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.5s ease;
  width: max-content;
}
.footer-button:hover {
  background-color: var(--black);
  color: var(--light-gray);
  box-shadow: 0 0 5px var(--light-gray);
}
.footer-element {
  font-size: var(--medium);
}
.header-element {
  font-size: var(--medium);
  font-weight: bold;
  transition: all 0.5s ease;
}
.header-element:hover {
  color: var(--gray);
}
.header-element.active {
  color: var(--gray);
}
.header-element.active:hover {
  color: var(--white);
}
#logo,
#footer-logo {
  height: 100px;
  transition: all 0.3s ease;
}
#logo:hover,
#footer-logo:hover {
  scale: 1.05;
}
.leaflet-control-attribution {
  display: none;
}

/* Pages settings */

/* Contacts */
.contact-block {
  background-color: var(--black);
  color: var(--white);
  padding: 25px 50px;
  border-radius: 32px;
}
.contact-list-element {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.contact-block-title {
  font-size: var(--mega);
  font-weight: bold;
  color: var(--light-gray);
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-list p,
a {
  font-size: var(--medium);
  color: var(--white);
}
.contact-list a {
  transition: all 0.5s ease;
}
.contact-list a:hover {
  color: var(--gray);
}

/* Catalog */
.catalog-element p {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  font-size: 50px;
}
.catalog-element,
.catalog-element p {
  transition: all 0.3s ease;
}
.catalog-element:hover {
  box-shadow: 0 0 5px var(--light-gray);
  scale: 1.05;
}
.catalog-element:hover p {
  color: var(--light-gray);
}

/* Catalog element settings */
.technic-card {
  background-color: var(--black);
  color: var(--white);
  padding: 25px 50px;
  border-radius: 32px;
}
.techinc-card-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.techinc-card-image-wrapper p {
  font-size: var(--large);
  color: var(--white);
  text-align: center;
}
.techinc-card-text,
.techinc-card-image-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 25px;
}
.technic-card-title {
  text-align: center;
}
#gallery-page .swiper {
  width: 80%;
  max-height: 600px;
  border-radius: 32px;
}
#gallery-page .swiper-slide {
  width: 100%;
  object-fit: cover;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-pagination-bullet-active {
  background: var(--light-gray) !important;
}
#gallery-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.graphic-block-lines-element {
  background-color: var(--black);
  color: var(--white);
  padding: 25px 50px;
  border-radius: 16px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: var(--mega);
}
.graphic-block-lines-element:hover {
  scale: 1.05;
}
.graphic-block-lines {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.graphic-block-image-wrapper {
  height: 100%;
}
.graphic-block-image {
  height: 100%;
  object-fit: contain;
}
.graphic-block {
  max-height: max-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.description-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.landing-special-offer {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  min-height: 750px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  overflow-x: hidden;
}
.offer-description {
  font-size: var(--mega);
  color: var(--light-gray);
  max-width: 70%;
  text-align: justify;
}
.offer-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
  padding: 0 25px;
}
.offer-button-wrapper {
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.offer-button {
  width: 75px;
  transition: all 0.3s ease;
}
.offer-button:hover {
  scale: 1.1;
}
.front-part-special-offer {
  position: relative;
  z-index: 2;
  width: 100%;
}
.offer-image {
  filter: opacity(0.5);
}
.privacy {
  text-align: center;
  font-size: var(--medium);
  color: var(--white);
  transition: all 0.3s ease;
  cursor: pointer;
}
.privacy:hover {
  color: var(--light-gray);
}
